<a href="https://colab.research.google.com/github/kimheeseo/LDPC_study/blob/main/sepeartor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**출처 : https://youtu.be/8nX9C8EjYkw**

In [20]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
filename='/content/drive/MyDrive/Colab Notebooks/data/data-01.CSV'

In [28]:
data=pd.read_csv(filename,dtype=np.float32)
data.head

<bound method NDFrame.head of      73    80    75    152
0  93.0  88.0  93.0  185.0
1  89.0  91.0  90.0  180.0>

In [29]:
data

     73    80    75    152
0  93.0  88.0  93.0  185.0
1  89.0  91.0  90.0  180.0

In [30]:
data.shape

(2, 4)

In [35]:
x_data=data.iloc[:,0:-1]
y_data=data.iloc[:,[-1]]

In [34]:
print("x_data.ndim=", x_data.ndim,"x_data.shape=",x_data.shape)

x_data.ndim= 2 x_data.shape= (2, 3)

In [36]:
print("y_data.ndim=", y_data.ndim,"y_data.shape=",y_data.shape)

y_data.ndim= 2 y_data.shape= (2, 1)

In [37]:
x_data

     73    80    75
0  93.0  88.0  93.0
1  89.0  91.0  90.0

In [38]:
y_data

     152
0  185.0
1  180.0

출처 : https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key

In [39]:
#TypeError: '(slice(None, None, None), slice(0, -1, None))' is an invalid key
x_data=data[:,0:-1]
y_data=data[:,[-1]]

TypeError: ignored